.animate-all {
  transition: all .4s;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
}

.add-image {
  display: flex;
  width: 100%;
  height: 232px;
  margin: 0 auto;
  background-color: #575757;
  border: solid 3px #9494947d;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  -webkit-transition: background-color .5s;
   -moz-transition: background-color .5s;
     -o-transition: background-color .5s;
        transition: background-color .5s;
  cursor: pointer;
}
.add-image i {
  margin: 0 auto;
  font-size: 80px;
  color: #eee;
  -webkit-transition: color .5s, font-size .5s;
   -moz-transition: color .5s, font-size .5s;
     -o-transition: color .5s, font-size .5s;
        transition: color .5s, font-size .5s;
}

.add-image:hover {
  background-color: #d3d3d383;
}
.add-image:hover i {
  color: #535353;
  font-size: 100px;
}

.add-image-item {
  background-color: white;
  color: white;
  flex-wrap: wrap
}
.add-image-item  p {
  width: 100%;
  text-align: center;
}

.add-image-item:hover i {
  color: #eee !important
}

.add-image-item:hover {
  background-color: #535353 ;
}
.add-image-item 

.heigth-100vh {
  height: 100vh !important;
  max-height: 100vh !important;
  min-height: 100vh !important;

}

.bg-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ctrl {
  opacity: 0;
  transition: all .5s;
}
.card {
  overflow: hidden;
}

.card-order-element {
  width: 200px !important;
  height: 300px !important;
}

.card-order-element  .my-card-header {
  font-size: 16px ;
  height: 50px;
  line-height: 23px;
  overflow: hidden;
  padding: 4px 10px !important;
  text-align: center !important;
}

.my-card-header,.my-card-header * {
  text-align:center;
  justify-content: center !important
}

.card-order-element  .my-card-header  h2{
  font-size: 16px ;
  text-align: center !important;
}

.card-order-element:hover .bg-img {
  filter: blur(3px);
}
.card-order-element:hover .ctrl {
  opacity: 1;
  background: #909090cd;
  flex-basis: 100%;
}

.card-order-element:hover .edit-item-button {
  left: 10%;
}

.card-order-element:hover .delete-item-button {
  right: 10%;
}

.item-button {
  position: absolute;
  top: 120px;
  text-align: center;
  font-size: 20px;
  width: 50px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 3px;
  transition: all .5s;
  box-shadow: none;
  border: .5px #eee solid;
}

.item-button:hover {
  border: 0.5px solid #eee!important;
  box-shadow: 0 0 5px #eeee;
}

.edit-item-button  {
  color: yellow;
  left: -100%;
}

.delete-item-button {
  color: red;
  right: -100%;
}

@media (max-width: 991.98px) {
  .aside {
    left: 0
  }
  .add-image {
    height: 217px;
  }
  .aside-minimize.brand {
    justify-content: center;
  }
  .brand {
    display: flex !important;
  }
  .wrapper {
    padding-left: 70px;
  }
}
.aside-minimize .aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
    display: none;
}
.aside-minimize .brand {
  justify-content: center !important;
}
